body {
  margin: 0px;
  background-color: #f3f4f6;
}
.redBackground {
  background-color: #cd5959;
}
.greenBackground {
  background-color: #74cf97;
}
.questionTitle {
  color: #111827;
}
.mainCard {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.questionList {
  list-style: none;
}
.questionTitle {
  font-size: 2rem;
}
li {
  list-style: none;
  color: #2d3647;
}
.questionListCard {
  box-shadow:
    rgba(26, 27, 29, 0.4) 0px 0px 0px 2px,
    rgba(22, 23, 25, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  background-color: #b4afaf;
  border-radius: 10px;
  max-width: 500px;
  padding: 10px;
  margin: 5px;
}
.selected {
  background-color: #9db7d8;
}
li ul li:hover {
  cursor: pointer;
  background-color: #6493d2;
}
.inactiv {
  opacity: 0.77;
}
button {
  font-size: 12px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: rgb(112, 148, 184);
  color: #2d3647;
  border-radius: 4px;
  cursor: pointer;
}
.questionNumber {
  color: #2d3647;
}
